body{
    margin :0;
    overflow: hidden;
    font-size: 14;
}
.container{
    height: 100vh;
}
.title-bar{
    height:5vh;
    background-color: #107c41;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}